{% extends 'wt_scrooge_capital/base.html' %}

{% block content %}
    <main class="grid-container">
        <div class="profile-div">
            <article class="one-profile" style="margin-top: auto; margin-bottom: auto;">
                <div style="margin: auto;">
                    <h1 style="font-size: 35px;">{{ profile.first_name }} {{ profile.last_name }}</h1>
                    {% include 'wt_scrooge_capital/transactions_list.html' %} 
                </div>
            </article>
        </div>
    </main>
{% endblock %}